body {
    font-family: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* ===== NAVBAR ===== */
nav {
    background: white;
    border-bottom: 1px solid lightgrey;
    position: sticky;
    top: 0;
}

.container{
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-header{
    font-size: 30px;
    font-weight: 700;
    color: #1e293b;
    cursor: default;

}

.navbar-header a{
    text-decoration: none;
    color: black;
    padding: 8px 8px;

}

.navbar-links{
    display: flex;
    gap: 30px;
}

.navbar-links a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.2s ease;

}

.navbar-links a:hover {
  background-color: #e5e7eb;
  color: #1D4ED8;
  transform: scale(1.1);
}




